{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2 class="text-center"'text-dark'>Available Courses:</h2>
    {% if courses %}
        <ul class="list-group">
            {% for course in courses %}
                <li class="list-group-item">
                    <a href="{% url 'students:course_detail' course.id %}">
                        {{ course.name }} ({{ course.course_code }}) - {{ course.credits }} credits
                    </a>
                    <p>{{ course.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center.text-dark">No courses available at the moment.</p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <h2 class="text-center .text-dark">Here are your modules:</h2>
        {% if modules %}
            <ul class="list-group">
                {% for module in modules %}
                
                    <li class="list-group-item">{{ module.name }} ({{ module.credits }} credits)</li>
                {% endfor %}
            </ul>
           
        {% else %}
            <p>You are not registered in any modules yet.</p>
        {% endif %}
    {% else %}
        <h2 class="text-center">Please log in to access your profile and modules.</h2>
    {% endif %} 
    <a href="{% url 'students:module_register' %}" class="btn btn-secondary">module_register</a>
{% endblock %}
